digitalocean_token = ""
digitalocean_droplet_image = "docker-20-04"
digitalocean_droplet_region = "sgp1"
digitalocean_droplet_size = "s-1vcpu-1gb"
digitalocean_key_name = "Mac Mini"
digitalocean_priv_key_path = "/Users/(username)/.ssh/id_rsa"
digitalocean_volume_name = "ghostvol"
cloudflare_email = "abc@gmail.com"
cloudflare_api_key = ""
cloudflare_domain = "abc.io"
ghost_blog_dns = "abc.io"
commento_dns = "commento.abc.io"
static_dns = "static.abc.io"
www_dns="www.abc.io"
certbot_email = "abc@gmail.com"
mysql_user = "root"
mysql_password = "abc"
postgres_user = "commento"
postgres_password = "abc"